<div>
    <p>{{localize 'FARKLE.pickLoadedDiceDescription'}}</p>
    {{#each actors as |actor|}}
    <div class="flexcol" data-uuid="{{actor.uuid}}">
        <div class="farkle-flexrow">
            <div class="farkle-flex0">
                <img src="{{actor.img}}" style="height:60px;min-width:60px;object-fit:contain"/>
            </div>
            <div class="farkle-flex1">
                <b>{{actor.name}}</b>
            </div>
            {{#each actor.loaded as |die|}}
                <div class="farkle-flex0 pickableDie" data-tooltip="{{die.name}}" data-action="pickDie" data-die="{{die.uuid}}">
                    <img src="{{die.img}}" style="height:40px;min-width:40px;object-fit:contain"/>
                </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
    <div class="farkle-flexrow" style="margin-top:20px">
        <button type="button" data-action="confirmSelection"><i class="fas fa-check"></i> {{localize 'ok'}}</button>
        <button type="button" data-action="close"><i class="icon fas fa-xmark"></i> {{localize 'cancel'}}</button>    
    </div>
</div>